
.projectGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(120px, 1fr));
        gap: 5rem;
        justify-items: center;
        align-items: center;
        padding: 5px;
        margin: 5px auto;
        max-width: 90%;
}