
.certificationCard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: #161625;
    overflow: hidden;
    border-radius: 1.5rem;
}
.imgContainer{
    height: fit-content;
    height: 160px;
}

.imgContainer img{
    height: 100%;

}