.header{
    display: flex;
    align-items: center;
    max-height: 200px;
}
.header-img {
    width: 50%;
}
.header-text {
    width: 50%;
    text-align: center;
    text-shadow: 0 0 6px #c95fff;
}
.avatar {
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}