.stacks {
  margin: 3rem auto;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
}

.stacks h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-shadow: 0 0 6px #c95fff;
}

.stacks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.stacks-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(20, 20, 30, 0.75);
  border: 1px solid #8a2be2;
  border-radius: 1rem;
  padding: 1rem;
  width: 60px;
  height: 60px;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 10px #3a0ca3;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.stacks-item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #a84ff0;
}

.stacks-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

.stacks-item p {
  font-size: 0.7rem;
  color: #f7eeff;
  margin: 0;
}